body {
    margin: 0;
    font-family: 'Roboto';
    font-weight: normal;
    background: black;
    color: white;
}

h1 {
    font-weight: 400;
}

h2 {
    font-weight: 100; 
}
.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}