body {
    margin: 0;
    font-family: 'Roboto';
    font-weight: normal;
    background: black;
    color: white;
    padding: 0px 350px;
}

.hero h1 {
    font-weight: 500;
    font-size: 200px;
    margin: 0px;
    text-align: center;
    letter-spacing:  -10px;
    animation: fadeheroh1 2s ease-in-out;

}
.scroll {
    text-align: center;
    font-size: 25px;
    position: absolute;
    bottom: 40px;
    animation: scroll 2s ease-out; 
    
}
.arrow {
    height: 30px;
    width: 30px;
    border-right: 4px solid white; 
    border-bottom: 4px solid white; 
    transform: rotate(45deg) scale(0.8);
    margin:auto;
    margin-top: -20px;
    animation: fade 2s ease-in-out infinite;
}

/* keyframe parts  */

@keyframes scroll {
    0% {opacity: 0; }
    100% {opacity: 1;}
}
@keyframes fade {
    0% {opacity: 0.2;}
    50% {opacity: 1;}
    100% {opacity: 0.2;}
}
@keyframes fadeheroh2 {
    from {
        opacity: 0; 
        transform: translateX(5px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes fadeheroh1 {
    from {
        opacity: 0; 
        transform: translateX(-5px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.regular {
    font-weight: 100;
}

.hero h2 {
    font-weight: 400; 
    margin-top: 30px;
    font-size: 30px;
    text-align: center;
    width: 100%;
    letter-spacing: 2px;
    animation: fadeheroh2 2s ease-in-out;
}


/* ABOUT section stuff */


.about {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    
}

.about h2 {
    font-size: 70px;
    font-weight: 500;
    margin: 0px;
    text-align: center;
}
.about p {
    font-size: 25px;
    font-weight: 200;
    line-height: 1.5;
    margin-top: 30px;
    text-align: center; 
}

.about h3 {
    font-size: 30px;
    text-align: center;
}


/*HERO section stuff */

.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}